
*, *::after, *::before {
    margin: 0;
    padding: 0;
}
#out ul, #package ul {
    padding-left: 0 !important;
    width: 100%;
}
html,
body {
    margin: 0;
    padding: 0;
}
#page-layout{
    display:flex;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:60px;
    padding: 1rem;
    gap: 10px;
    justify-content: center;
}

.list_panel{
    display:flex;
    flex-direction: column;
    min-width: 40%;
}
#list{
    min-height: 270px;
    background:#f6f6f6;
}
#list form {
    display: flex;
    height: 100%;
}
#info{
    border: 1px solid #DBDBDB;
    border-bottom:none;
    border-radius:6px 6px 0 0;
    display:flex;
    padding-top:10px;
    padding-bottom:10px;
    justify-content: space-around;
}


#list #package{
    position:relative;
    float:left;
    display:flex;
    overflow:auto;
    padding: 4px;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}

#list #out{
    position:relative;
    border-left:1px solid #DBDBDB;
    float:right;
    display:flex;
    overflow:auto;
    padding: 4px;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;

}
.span{
    margin-top:13px;
    display:flex;
}
input[name="delPkg"],input[name="delOut"]{
    height:30px;
}
#list input[type=submit] {
    background: #b78c7c;
    color: #fff;
    border-radius: 0.5rem;
    padding: 2px;
    border: 1px solid #858585;
    transition: background 0.3s ease;
}
#list input[type=submit]:hover {
    background: #754f42;
}
.li{
    margin-bottom:5px;
    list-style-type: none;

}
.li-one{
    justify-content: space-between;
    display:flex;
    border-bottom: 1px solid #DDDDDD;
}
.del-right{
    display:flex;
    float:right;
}
.del-right input {
    max-width: 65px;
}
.down{
    display:flex;
    position:relative;
    margin-top:40px;
    justify-content: end;
}


.down input[name="del_outs"]{
    margin-left:2px;
}
#block-body{
    display:flex;
    text-align:center;
}
.panel{
    display:flex;
    padding:5px 0;
    flex-direction: column;
}
.text{
    display:flex;
    justify-content: space-between;
}


input[type="submit"]{
    margin-top:10px;
    cursor:pointer;
}
input[type="text"]{
    width: 48%;
}
footer{
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    text-align:center;
    float: left;
    display:block;
    width:100%;
    height: 30px;
    padding: 0;
    z-index:100;
    position: fixed;
    left: 0;
    bottom: 0;
}

@media (max-width: 991px){
    #page-layout{
        flex-direction: column;
    }

}