
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    margin: 0;
    padding: 0;
}
#page-layout{
    padding-top:2vh;
    display:flex;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: min(98vw,2000px);
    margin-bottom:60px;
}

.list_panel{
    margin-left:min(3vw,30px);
    display:flex;
    width:min(40vw,602px);
    flex-direction: column;
}
#list{
    height:min(70vh,700px);
    background:#f6f6f6;
}
#info{
    width:min(40vw,602px);
    border: 1px solid #DBDBDB;
    border-bottom:none;
    border-radius:6px 6px 0 0;
    display:flex;
    padding-top:10px;
    padding-bottom:10px;

}
.help{
    margin-left:min(1.5vw,15px);
    height:min(30vh,250px);
}


#pkg_span{
    margin-left:min(9vw,115px);
}
#out_span{
    margin-left:min(16vw,240px);
}
#list #package{
    position:relative;
    width:min(20vw,301px);
    height:min(70vh,700px);
    float:left;
    display:flex;
    overflow:auto;
}
li{
    margin-bottom:5px;
    height:40px;
    list-style-type: none;
}
#list #out{
    position:relative;
    border-left:1px solid #DBDBDB;
    width:min(20vw,301px);
    height:min(70vh,700px);
    float:right;
    display:flex;
    overflow:auto;

}
.span{
    display:inline-block;
    width:min(13vw,150px);;
}
input[name="delPkg"],input[name="delOut"]{
    width:65px !important;
}

.down{
    display:flex;
    position:relative;
    margin-top:40px;
}
.down input{
    width:232px !important;
}

.down input[name="del_outs"]{
    margin-left:2px;
}
#block-body{
    padding-right:2vh;
    display:flex;
    margin-left:min(3vw,30px);
    text-align:center;
}
.panel{
    display:flex;
    padding-top:200px;
    padding:10px;
    margin-left:-10px;
    flex-direction: column;
}
.text{
    width:min(40vw,602px);
    display:flex;
    justify-content: space-between;
}
input{
    width:min(19.9vw,298px);
}
.panel input{
    height:min(3.5vh,30px);
}
input[type="submit"]{
    width:min(40vw,602px);
    float:center;
    margin-top:10px;
    cursor:pointer;
}

footer{
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    text-align:center;
    float: left;
    display:block;
    width:100%;
    height: 30px;
    padding: 0;
    z-index:100;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
