.main-table{
    text-align:center;
    margin-bottom:50px;
    height:min(90vh,900px);
    width:100%;
    overflow: auto;
}
thead{
}
table {
    border-collapse: collapse;
    margin-bottom:50px;
}

th,
td {
    border: #ccc 1px solid;
    padding: 5px 10px;
}
tr{
    background-color:#f6f6f6;
}