<div th:fragment="help_table">
	<div class="help">
		<table class="help_tab table table-bordered">
			<tr>
				<th>Символ</th>
				<th>Оператор</th>
				<th>Описание</th>
			</tr>
			<tr>
				<td>!</td>
				<td>¬</td>
				<td>Отрицание (НЕ)</td>
			</tr>
			<tr>
				<td>|</td>
				<td>|</td>
				<td>Штрих Шеффера (И-НЕ)</td>
			</tr>
			<tr>
				<td>#</td>
				<td>↓</td>
				<td>Стрелка Пирса (ИЛИ-НЕ)</td>
			</tr>
			<tr>
				<td>*, &</td>
				<td>&and;</td>
				<td>Конъюнкция (И)</td>
			</tr>
			<tr>
				<td>+</td>
				<td>&or;</td>
				<td>Дизъюнкция (ИЛИ)</td>
			</tr>
			<tr>
				<td>^</td>
				<td>⊕</td>
				<td>Исключающее ИЛИ</td>
			</tr>
			<tr>
				<td>@, -></td>
				<td>→</td>
				<td>Импликация (ЕСЛИ-ТО)</td>
			</tr>
			<tr>
				<td>%, <-</td>
				<td>←</td>
				<td>Обратная импликация</td>
			</tr>
			<tr>
				<td>=</td>
				<td>≡ (~, ↔)</td>
				<td>Эквивалентность (РАВНО)</td>
			</tr>
			<tr>
				<th>Пример</th>
				<td colspan="2">(A+B) * ((C->F) | (F<-C))</td>
			</tr>
		
		</table>
		<details>
			<summary>Теория</summary>
			<div style="z-index:1001;position: absolute;background: #f6f6f6;padding: 1rem;border-radius: 0.5rem">
				<h4>Посылки и выводы. Валидный и не валидный аргумент</h4>
				<p>Пусть есть высказывания, которые можно назвать <b>посылками</b>. Пусть также
					есть высказывание, которое можно назвать <b>выводом</b>. Словосочетание "можно
					назвать" используется при условии, что посылки связываются с выводом.</p>
				<p>То есть, из посылок логически следует вывод.</p>
				<p>Вывод считается валидным (верным), если представляет собой переход от
					истинного к истинному (от истинности посылок к истинности заключения) или
					остается верным независимо от интерпретации.</p>
				<p><b>ВАЛИДНОСТЬ</b> (VALIDITE). Употребляемый в логике синоним истины, точнее
					говоря, ее формальный эквивалент.</p>
				<p>Тогда, <b>если посылки имеют значения "истина" и вывод тоже имеет значение
					"истина"</b>, то аргумент является <b>валидным</b>.</p>
				<p>Если же <b>посылки имеют значения "истина", а вывод имеет значение "ложь",
					то аргумент не является валидным.</b></p>
				<p>Синонимы понятия "валидность" (в рассматриваемом здесь значении) -
					"логическая правильность", "резонность".</p>
				<div>
					Посылки следователя (причины): <br>
					Если кассир сказала правду, то водитель находился в <br>
					комнате отдыха <br>
					<b>Р1 = А → В.</b> <br>
					Если водитель находился в комнате отдыха, то он должен <br>
					был слышать все, что делается на складе <br>
					<b>Р2 = В → С.</b> <br>
					Если он имел возможность слышать, что делается на <br>
					складе, то он слышал и выстрелы <br>
					<b>Р3 = С → D.</b> <br>
					Если верить водителю, то он не слышал выстрелов <br>
					<b>Р4 = E → ¬D.</b> <br>
					Заключение(следствие) следователя: <br>
					Водитель меня обманывает при условии, что <br>
					кассир говорит правду <br>
					<b>C1 = A → ¬E</b> <br>
					Кассир и водитель одновременно говорят правду <br>
					<b>C2 = A ∧ E</b> <br>
					<p>Клауза считается <b>истинной</b>, если единицы следствия (С1)
						накрывают все единицы обобщенной причины (Р), т.е. единицы
						обобщенной причины образуют подмножество единиц следствия.</p>
					<p>Это требование выполняется для следствия C1, но не для
						следствия С2.</p>
					<a href="/example">Проверить</a>
				</div>
				<br>
				<br>
				<br>
				<br>
			</div>
		</details>
	</div>
	
</div>