<div th:fragment="help_table">
    <div class="help">
        <table class="help_tab table table-bordered">
            <tr>
                <th>Клавиша</th>
                <th>Оператор</th>
                <th>Описание</th>
            </tr>
            <tr>
                <td>!</td>
                <td>¬</td>
                <td>Отрицание (НЕ)</td>
            </tr>
            <tr>
                <td>|</td>
                <td>|</td>
                <td>Штрих Шеффера (И-НЕ)</td>
            </tr>
            <tr>
                <td>#</td>
                <td>↓</td>
                <td>Стрелка Пирса (ИЛИ-НЕ)</td>
            </tr>
            <tr>
                <td>*, &</td>
                <td>&</td>
                <td>Конъюнкция (И)</td>
            </tr>
            <tr>
                <td>+</td>
                <td>v</td>
                <td>Дизъюнкция (ИЛИ)</td>
            </tr>
            <tr>
                <td>^</td>
                <td>⊕</td>
                <td>Исключающее ИЛИ</td>
            </tr>
            <tr>
                <td>@, -></td>
                <td>→</td>
                <td>Импликация (ЕСЛИ-ТО)</td>
            </tr>
            <tr>
                <td>%, <-</td>
                <td>←</td>
                <td>Обратная импликация</td>
            </tr>
            <tr>
                <td>=</td>
                <td>≡ (~, ↔)</td>
                <td>Эквивалентность (РАВНО)</td>
            </tr>
        </table>
    </div>
</div>