<div th:fragment="help_table">
    <div class="help">
        <table class="help_tab table table-bordered">
            <tr>
                <th>Символ</th>
                <th>Оператор</th>
                <th>Описание</th>
            </tr>
            <tr>
                <td>!</td>
                <td>¬</td>
                <td>Отрицание (НЕ)</td>
            </tr>
            <tr>
                <td>|</td>
                <td>|</td>
                <td>Штрих Шеффера (И-НЕ)</td>
            </tr>
            <tr>
                <td>#</td>
                <td>↓</td>
                <td>Стрелка Пирса (ИЛИ-НЕ)</td>
            </tr>
            <tr>
                <td>*, &</td>
                <td>&and;</td>
                <td>Конъюнкция (И)</td>
            </tr>
            <tr>
                <td>+</td>
                <td>&or;</td>
                <td>Дизъюнкция (ИЛИ)</td>
            </tr>
            <tr>
                <td>^</td>
                <td>⊕</td>
                <td>Исключающее ИЛИ</td>
            </tr>
            <tr>
                <td>@, -></td>
                <td>→</td>
                <td>Импликация (ЕСЛИ-ТО)</td>
            </tr>
            <tr>
                <td>%, <-</td>
                <td>←</td>
                <td>Обратная импликация</td>
            </tr>
            <tr>
                <td>=</td>
                <td>≡ (~, ↔)</td>
                <td>Эквивалентность (РАВНО)</td>
            </tr>
	        
        </table>
	    <div style="width: 100%;background: #f6f6f6;border: 1px solid #dee2e6;padding: 5px;">
		    <span style="width: 100%">&lt;P&gt; - Коньюнкция посылок</span><br/>
		    <span style="width: 100%">Вывод C<small>i</small> считается валидным, если не существует строки &lt;P&gt;&and;C<small>i</small> = true </span>
	    </div>
	    
    </div>
</div>