<th:block th:fragment="truth_table">
    <div class="main-table" id="main-table">
        <div>
	        <div style="width: 100%;background: #f6f6f6;border: 1px solid #dee2e6;padding: 5px;">
		        <span style="width: 100%"><font color="#F0A97D" >&lt;P&gt;</font> - Коньюнкция посылок</span><br/>
		        <span style="width: 100%">Вывод <font color="#F0823D">C<small>i</small></font> считается валидным, если не существует строки <font color="#F0A97D">&lt;P&gt;</font>&and;<font color="#F0823D">C<small>i</small></font> = Ложь </span>
	        </div>
            <table class="MyTab table table-bordered" th:if="${variableName!=null}">
                <thead>
                <input type="hidden" id = "rowsList" th:value="${notValidRows}">
									
                    <tr>
                        <th style="background-color:#F4DC72;" scope="row" th:if="${variableName!=null}">#</th>
                        <th class="variables" th:each="mapItem, state:${variableName}" th:text="${mapItem.key}"></th>
                    </tr>
                </thead>
                <div class="tbl-content" >
                    <tbody id="sb">
                        <tr class="tr-content" th:each="list,state:${variableValue}">
                            <td class="count values" style="background-color:#F4DC72 !important;" th:text="${state.count-1}"></td>
                            <td class="values" th:each="value:${list}"th:text="${value}"></td>
                        </tr>
                    </tbody>
                    <script th:inline="javascript">
                        var list = /*[[${notValidRows}]]*/ [];
                        var pName;
                        var num = 0;
                        var cList = new Array();
                        var pList = new Array();
                        var table = document.querySelectorAll('#sb tr')
                        var variables = document.querySelectorAll('.variables');
                        var numC = 1;
                        var numP = 1;
                        variables.forEach((th)=>{
                            if(th.textContent=="<P>"){
                                th.style.background="#F0A97D";
                                pName=num;
                            }
                            if(th.textContent=="C"+numC){
                                th.style.background="#F0823D";
                                cList.push(num);
                                numC++;
                            }
                            if(th.textContent=="P"+numP){
                                th.style.background="#F0C0A2";
                                pList.push(num);
                                numP++;
                            }
                            num++;
                        });
                        var count1 = 0;
                        var k = 0;
                        table.forEach((tr)=>{
                            var value = tr.querySelectorAll(".values");
                            var valueContent = value.textContent;
                            var n = -1;
                            value.forEach((td)=>{
                                if(n==pName){
                                    td.style.background="#F0A97D";
                                }
                                cList.forEach((c)=>{
                                    if(n==c){
                                        td.style.background="#F0823D";
                                    }
                                });
                                pList.forEach((p)=>{
                                    if(n==p){
                                        td.style.background="#F0C0A2";
                                    }
                                });
                                n++;
                            });

                            if(tr.className="count"){
                                var count = tr.querySelector(".count");
                                var countContent = count.textContent;
                                var value = tr.querySelectorAll(".values");
                                var valueContent = value.textContent;
                                if(list!=null){
                                    for(var i = 0;i<list.length;i++){
                                        if(list[i]==countContent){
                                            value.forEach((td)=>{
                                                var color = td.style.backgroundColor.split(",");
                                                var newColor="";
                                                console.log(color);
                                                if(color!=null){
                                                    if(color==''){
                                                        td.style.background="#EAEAEA";
                                                    }
                                                    else{
                                                        color[1]-="10";
                                                        color[1]=","+color[1]+",";
                                                        for(var j = 0;j<color.length;j++){
                                                            newColor+=color[j];
                                                        }
                                                        td.style.background=newColor;
                                                    }
                                                }
                                            });

                                        }
                                    }
                                }
                            }
                            count1++;
                            k++;
                        });
                    </script>
                </div>
            </table>
	        <div style="margin-top: 20px;" th:unless="${variableName!=null}">
		        Добавьте логические выражения!
	        </div>
        </div>
    </div>
</th:block>